.student-container {
    gap: 2rem;
    display: grid;
    /* padding-left: 10%;
    padding-right: 10%; */
    grid-template-columns: repeat(3, 1fr);
    margin-left: 17.25%;
    margin-right: 17.25%;

}

.studentCard {
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    padding: 17px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.part1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1px solid rgb(170, 166, 166);
    left: 0;

}

.part1>.name {
    font-weight: 600;
}

.part2 {
    border-bottom: 0.3px solid rgb(170, 166, 166);

}